fastapi==0.115.12
uvicorn[standard]

# Sync PostgreSQL support for FastAPI
psycopg2-binary

# SQLAlchemy with sync support
sqlalchemy

# Pydantic v2
pydantic>=2.0
pydantic[email]

# Environment variable support
python-dotenv

# Database migration tool
alembic

# Code formatter
black>=24.3.0
